{% extends "layoutadmin.html" %} {% block title %}Doctor Project{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Deactivated Doctor List</h1>




<!--    <a href="{{ url_for('.dr_list_download') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
<!--        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    {% if message|length > 1 %}
    <div class="col-md-12">
        <div class="alert alert-success">{{ message }}</div>
    </div>
    {% endif %} {% if error|length > 1 %}
    <div class="col-md-12">
        <div class="alert alert-danger">{{ error }}</div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="container table-responsive">
                    <table id="Table" class="table table-striped table-bordered mt-5 mb-5" style="width:100%">
                        <thead>
                            <tr>
                                {% for header in headers %}
                                <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for records in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                {% for row in records %} {% if loop.index > 1 %}
                                <td>{{ row }}</td>
                                {% endif %} {% endfor %}

                                <td>
                                    <a href="/activate_user?id={{records[0]}}"><button class="btn btn-primary">Activate</button></a>

                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                        <tfoot>
                            <tr>
                                {% for header in headers %}
                                <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

</div>

>

<!-- End of Main Content -->
{% endblock %} {% block script %} {#

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>#}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#Table').DataTable();
    });
</script>

{% endblock %}