{% extends "layoutadmin.html" %} {% block title %}Doctor Project{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Edit Patient</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">

                {% if message|length > 1 %}
                <div class="col-md-12">
                    <div class="alert alert-success">{{ message }}</div>
                </div>
                {% endif %} {% if error|length > 1 %}
                <div class="col-md-12">
                    <div class="alert alert-danger">{{ error }}</div>
                </div>
                {% endif %}
                <form class="needs-validation mt-5" action="/edit-patient" method="post">
                    <div class="container">
                        <div class="form-row">


                            <input name='sno' value="{{patient[0]}}" type="text" class="form-control" id="name" required hidden>
                            <input name='idd' value="{{id}}" type="text" class="form-control" id="name" required hidden>

                            <input name='createdby' value="{{patient[4]}}" type="text" class="form-control" id="name" required hidden>



                            <div class="col-md-4 mb-3">
                                <label for="username">Patient Name</label>
                                <div class="input-group">

                                    <input type="text" class="form-control" name="pname" aria-describedby="inputGroupPrepend" value="{{patient[1]}}" required>

                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="username">Contact</label>
                                <div class="input-group">

                                    <input type="text" class="form-control" name="contact" aria-describedby="inputGroupPrepend" value="{{patient[2]}}" required>

                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="username">Adress</label>
                                <div class="input-group">

                                    <input type="text" class="form-control" name="adress" aria-describedby="inputGroupPrepend" value="{{patient[3]}}" required>

                                </div>
                            </div>




                            <div class="col-md-4 mb-3">
                                <label for="username">CNIC</label>
                                <div class="input-group">

                                    <input type="text" class="form-control" name="cnic" aria-describedby="inputGroupPrepend" value="{{patient[7]}}" required>

                                </div>
                            </div>
                        </div>

                        {#
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                        #}
                        <button class="btn btn-primary mb-4" type="submit">UPDATE</button>
                    </div>
                </form>


            </div>

        </div>


    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


{% endblock %} {% block script %} {#
<script>
    #} {#
        $(document).ready(function() {#} {#
            $('.mdb-select').materialSelect();#
        } {#});#
    } {#
</script>#} {% endblock %}