{% extends "layoutadmin.html" %}
{% block title %}Doctor Project{% endblock %}
{% block head %} {{ super() }}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <style type="text/css">

        input[type="checkbox"] {
        zoom: 0.5;
        }

    </style>

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Case Area</h1>

        <br>
<input name="studyprojectid" id="studyprojectid" value="{{ actualformid }}" required readonly
                           style="display: None;">
    <input name="doctorid" id="doctorid" value="{{ doctorid }}" required readonly
                           style="display: None;">
    <div class="row">

        <div class="col col-sm-12">
            <div class="container">
                {% set b = namespace(value=1) %}
                <div class="row">
                    {% for formdata in data %}
                        {% if formdata[2] == "heading" %}
                            <div class="{{formdata[5]}}">
                            <br><h1>{{ formdata[1] }}</h1>
                            </div>
                        {% endif %}
                        {% if data[0][2] == "heading" and loop.index > 1 %}
                            {% if formdata[2] != "heading" %}

                                <div class="{{ formdata[5] }} data_{{ b.value }} shown" id="data_{{ b.value }}"
                                     >
                                    {% if formdata[2] != "radio" and formdata[2] != "paragraph" %}
                                        <label>{{ formdata[1] }}</label>
                                    {% endif %}
                                    {% if formdata[2]!= "paragraph" and formdata[2] != "radio"  and formdata[2] != "textarea" %}
                                        <input class="form-control values_{{ b.value }} testt" name="{{ formdata[0] }}"
                                               id="{{ formdata[0] }}" type="{{ formdata[2] }}"
                                               value="{{ formdata[0] }},{{ formdata[4] }}"
                                               placeholder="{{ formdata[3] }}"
                                                {% if formdata[-1] == 1 %} required{% endif %} readonly>
                                    {% elif formdata[2] == "textarea" %}
                                        <input class="form-control values_{{ b.value }} testt" id="{{ formdata[0] }}"
                                               name="{{ formdata[0] }}" type="textarea"
                                               value="{{ formdata[0] }},{{ formdata[4] }}"
                                               placeholder="{{ formdata[3] }}"
                                                {% if formdata[-1] == 1 %} required{% endif %} readonly>
                                    {% elif formdata[2] == "paragraph" %}
                                        <p id="{{ formdata[0] }}" value="{{ formdata[4] }}"
                                           placeholder="{{ formdata[3] }}">{{ formdata[1] }}</p>
                                    {% elif formdata[2] == "radio" %}
                                        {% set list1 = formdata[1].split(',') %}
                                        {% set list2 = formdata[4].split(',') %}

                                        {% for item in list1 %}
                                            {{ item }}
                                            <input class="values_{{ b.value }} testt1"
                                                   name="{{ formdata[0] }}" type="radio"
                                                   value="{{ list2[loop.index - 1] }}"
                                                    {% if formdata[-1] == 1 %} required{% endif %} disabled>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% else %}
                                {% set b.value = b.value + 1 %}
                            {% endif %}

                        {% elif data[0][2] != "heading" %}
                            <div class="{{ formdata[5] }}" id="data_{{ b.value }}"
                                 {% if b.value > 1 %}style="display: none;"{% endif %}>
                                {% if formdata[2] != "radio" and formdata[2] != "paragraph" %}
                                    <label>{{ formdata[1] }}</label>
                                {% endif %}
                                {% if formdata[2]!= "paragraph" and formdata[2] != "radio"  and formdata[2] != "textarea" %}
                                    <input id="{{ formdata[0] }}" class="form-control" name="{{ formdata[0] }}"
                                           type="{{ formdata[2] }}"
                                           value="{{ formdata[4] }}" placeholder="{{ formdata[3] }}"
                                            {% if formdata[-1] == 1 %} required{% endif %}>
                                {% elif formdata[2] == "textarea" %}
                                    <input id="{{ formdata[0] }}" class="form-control testt" name="{{ formdata[0] }}"
                                           type="textarea"
                                           value="{{ formdata[4] }}" placeholder="{{ formdata[3] }}"
                                            {% if formdata[-1] == 1 %} required{% endif %}>
                                {% elif formdata[2] == "paragraph" %}
                                    <p id="{{ formdata[0] }}" type="textarea" name="{{ formdata[0] }}"
                                       value="{{ formdata[4] }}"
                                       placeholder="{{ formdata[3] }}">{{ formdata[1] }}</p>
                                {% elif formdata[2] == "radio" %}
                                    {% set list1 = formdata[1].split(',') %}
                                    {% set list2 = formdata[4].split(',') %}
                                    {% for item in list1 %}
                                        {{ item }}
                                        <input id="{{ formdata[0] }}" name="{{ formdata[0] }}" type="radio"
                                               value="{{ formdata[0] }},{{ list2[loop.index] }}"
                                                {% if formdata[-1] == 1 %} required{% endif %}>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        {% endif %}

                    {% endfor %}

                    <input name="studyprojectid" id="studyprojectid" value="{{ formid }}" required readonly
                           style="display: None;">
                </div>
            </div>
        </div>
    </div>



        <!-- /.container-fluid -->

        {% if rights[8] == "yes" %}

        <h2 class="mt-5"> Leave Query </h2>

        <form action="/query" method="POST">
            <div class="form-floating">
                <input type="text" name="formid" value="{{ formentryid }}" hidden>
                <input type="text" name="doctorid" value="{{ doctorid }}" hidden>
                <input type="text" name="patientid" value="{{ patientid }}" hidden>
                <textarea class="form-control" name="query" placeholder="Leave Query Here" id="floatingTextarea2" style="height: 100px"></textarea>
                
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}

    </div>
    <!-- End of Main Content -->
 


{% endblock %}

{% block script %}
    <script>
        function showform(id) {
            console.log(id)
            var formid = id.split("_")[1];
            console.log($('.data_').length)
            $('.shown').each(function () {
                this.addClass = "shown";
                this.style.display = "none";
            });
            $('.data_' + formid.toString()).each(function () {
                this.removeClass = "shown";
                this.style.display = "block";
            });
            document.getElementsByClassName("savebtn")[0].id = "for_" + formid.toString()

        }

        function savarecords(id) {
            var idform = id.split('_')[1];
            {#alert(idform);#}
            var patientid = document.getElementById("patientName").value;
            var studyprojectid = document.getElementById("studyprojectid").value;
            console.log(patientid);
            var myFormData = []
            var emptyfiewld = []
            $('.values_' + idform.toString()).each(function () {
                console.log(this.required);
                if (this.required && this.value != '') {
                    if (this.type == 'radio') {
                        if (this.checked) {
                            {#alert(this.value)#}
                            myFormData.push(this.name + '_&&_' + this.value);
                        }
                    } else {
                        myFormData.push(this.id + '_&&_' + this.value);
                    }
                } else {
                    emptyfiewld.push(this.id)

                }


            });
            if (emptyfiewld.length == 0) {
                console.log(myFormData);
                $.ajax({
                    type: 'GET',
                    url: '/casedataadd',
                    data: {
                        myFormData: myFormData.toString(),
                        patientid: patientid,
                        studyprojectid: studyprojectid
                    },
                    success: function (response) {
                        var idheading = parseInt(idform) + 1;
                        showform('heading_' + idheading.toString());
                        if (response["success"] == true) {
                            location.reload();
                        }
                    }
                });
            } else {
                alert("Please fill all required fields")
            }

        }


        function fillformdata(val) {
            var patientid = val;
            var studyprojectid = document.getElementById("studyprojectid").value;
            var doctorid = document.getElementById("doctorid").value;
            {#alert(patientid);#}

            $.ajax({
                type: 'GET',
                url: '/casepatientdetail',
                data: {
                    patientid: patientid,
                    studyprojectid: studyprojectid,
                    doctorid: doctorid
                },
                success: function (response) {
                    console.log(response);
                    if (response["success"] == true) {
                        for (var i in response) {
                            if (i != "success") {
                                {#console.log(document.getElementById(i.toString()).tagName);#}
                                if (document.getElementById(i)) {
                                    document.getElementById(i).value = response[i];
                                } else {
                                    {#document.getElementById(i).checked = true;#}
                                    $('input:radio[name=' + i + '][value=' + response[i] + ']').prop('checked', true);
                                }
                                {#if (document.getElementById(i).value== response[i]){#}
                                {#    document.getElementById(i).checked = true;#}
                                {##}
                                {#
                                }
                                    #}
                            }
                        }
                    } else {
                        $('.testt').each(function () {
                            console.log(this.required);
                            this.value = '';


                        });
                        $('.testt1').each(function () {
                            console.log(this.required);
                            this.checked = false;


                        });
                        console.log("nothing")
                    }
                }
            });
        }
var patientIDS = "{{ patientid }}";
        fillformdata(patientIDS);

    </script>
{% endblock %}