{% extends "layoutadmin.html" %} {% block title %}Doctor Project{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> {% endblock %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    {% if status == "admin" or data_download == "yes" %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Case Listing for User Rights
    </h1>

    <a href="/case/report/list/download" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> {% endif %}


    <div class="row">
        {% if message|length > 1 %}
        <div class="col-md-12">
            <div class="alert alert-success">{{ message }}</div>
        </div>
        {% endif %} {% if error|length > 1 %}
        <div class="col-md-12">
            <div class="alert alert-danger">{{ error }}</div>
        </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="card shadow mb-4">










                <div class="container table-responsive">
                    <table id="Table" class="table table-striped table-bordered mt-5 mb-5">
                        <thead>
                            <tr>
                                <th>S.NO</th>
                                <th>PROJECT NAME</th>
                                <th>PATIENT NAME</th>
                                <th>DOCTOR NAME</th>
                                <th>QUERY</th>
                                <th>VIEW</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for records in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{records[0]}}</td>
                                <td>{{records[1]}}</td>
                                <td>{{records[2]}}</td>
                                <td>{{records[3]}}</td>
                                <td>

                                    <button class="btn btn-success" onclick="view({{ records[4] }},{{ records[5] }},{{ records[6] }})">View
                                        </button>

                                </td>


                                <!-- <td><a href="/patient-list?id={{records[2]}}"><button class="btn btn-success">View</button></a></td> -->

                                <!-- <td>
                                    <button class="btn btn-danger" onclick="deletea({{ records[0] }})">Delete
                                        </button>

                                </td> -->

                                <!-- <td><a href="/user-right?id={{records[2]}}"><button class="btn btn-success">RIGHTS</button></a></td> -->

                            </tr>
                            {% endfor %}


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>S.NO</th>
                                <th>PROJECT NAME</th>
                                <th>PATIENT NAME</th>
                                <th>DOCTOR NAME</th>
                                <th>QUERY</th>
                                <th>VIEW</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %} {% block script %} {#
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>#}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<script>
    function view(id, patid, docid) {
        var formid = id;
        var patientid = patid;
        var doctorid = docid;
        var actualformid = {
            {
                formid
            }
        };
        var date = new Date();
        date.setTime(date.getTime() + (1 * 1 * 60 * 60 * 1000));
        document.cookie = "formentryid=" + formid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        document.cookie = "patientid=" + patientid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        document.cookie = "doctorid=" + doctorid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        document.cookie = "actualformid=" + actualformid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        window.location.href = "/case-patient-study";
    }


    function editdoc(id) {
        var docid = id;
        $(document).ready(function() {
            $.ajax({
                url: "/Doctor/edit",
                type: "post",
                data: {
                    docid: docid
                },
                success: function(response) {
                    console.log(response);
                    $("#edit").html(response);
                    $("#editUserModal").modal();
                }
            });
        });
    }


    function deletea(id) {
        var caseid = id;
        $.ajax({
            url: "/casestudydelete",
            type: "post",
            caseid: caseid,
            data: {
                caseid: caseid
            },
            success: function(response) {
                location.reload();
            }
        });
    }
</script>

<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
<script>
<!--    $(document).ready(function() {-->
<!--        var t = $('#Table').DataTable({-->
<!--            dom: 'Bfrtip',-->
<!--            order: [-->
<!--                [1, "asc"]-->
<!--            ],-->
<!--            buttons: [-->
<!--                'csv', 'excel', 'pdf', 'print'-->
<!--            ]-->
<!--        });-->
<!--        $(".dt-button").addClass("btn btn-success");-->

<!--    });-->

$(document).ready(function() {
    var currentdate = new Date();
    var datetime = "Downloaded by: {{username}} on " + currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/"
                + currentdate.getFullYear() + " at "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
        var t = $('#Table').DataTable({
            dom: 'Bfrtip',
            order: [
                [1, "asc"]
            ],
            buttons: [
                    {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2,3,4]
                },
                messageBottom: `${datetime}`
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2,3,4 ]
                },
                messageBottom: `${datetime}`
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2,3,4 ]

                },
                messageBottom: `${datetime}`
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: [ 0, 1, 2,3,4 ]
                },
                 messageBottom: `${datetime}`
            }

            ]
        });
        $(".dt-button").addClass("btn btn-success");

        $(".buttons-pdf").click(function(){

  $.ajax({
                type: 'GET',
                url: '/varified-query',
                data: {
                    message: "PDF file for verified query was downloaded"
                },
                success: function (response) {

                }
            });
});

$(".buttons-csv").click(function(){

  $.ajax({
                type: 'GET',
                url: '/varified-query',
                data: {
                    message: "CSV file for verified query was downloaded"
                },
                success: function (response) {

                }
            });
});

$(".buttons-excel").click(function(){

  $.ajax({
                type: 'GET',
                url: '/varified-query',
                data: {
                    message: "Excel file for verified query was downloaded"
                },
                success: function (response) {

                }
            });
});
$(".buttons-print").click(function(){

  $.ajax({
                type: 'GET',
                url: '/varified-query',
                data: {
                    message: "Verified query file printed"
                },
                success: function (response) {

                }
            });
});


    });

    function view(id, patid, docid) {
        var formid = id;
        var patientid = patid;
        var doctorid = docid;
        var actualformid = formid
        var date = new Date();
        date.setTime(date.getTime() + (1 * 1 * 60 * 60 * 1000));
        document.cookie = "formentryid=" + formid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        document.cookie = "patientid=" + patientid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        document.cookie = "doctorid=" + doctorid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        document.cookie = "actualformid=" + actualformid.toString() + "; expires=" + date.toGMTString() + ";path=/";
        window.location.href = "/case-patient-study";
    }
</script>
{% endblock %}